@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-label {
    @apply text-white text-lg;
  }

  .form-input {
    @apply w-full px-3 py-2 mt-1 text-white bg-gray-800 border border-gray-700 rounded-md focus:outline-none focus:border-blue-500;
  }

  .error-text {
    @apply text-red-400 mt-2;
  }
}

:root {
  --primary: #0d1529;
  --secondary: #176DF7;
  --tertiary: #a4c6fe;
  --white-1: #f8fafc;
  --text-gray: #e2e8f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: var(--white-1);
  font-family: var(--font-pt-sans);
}

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-pt-sans);
  color: white;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 0.875rem;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1.25rem;
  }
}
